html {
  position: relative;
  min-height: 100%;
}

body {
     background: url('bg.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
    margin-bottom: 60px;
}

h1{
    text-align: center;
}

.logo{
    width: 35%;
    height: 35%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.jumbotron{
    /*opacity: 0.7;*/
    max-width: 70%;
    margin: auto;
    margin-top: 20%;
    border-radius: 20px;
    opacity: 0.9;
}

.lead{
    text-align: center;
}

/*.btn{
    margin-right: 5%;
    margin-left: 5%;
}*/

#mc_embed_signup{
    text-align: center;
}

#pitch{
    font-size: 2em;
} 
