footer {
	position:relative;
	color:white;
	font-weight:bold;
	background-color: #009BDA;
    border: 1px solid black;
    opacity: 0.6;
    filter: alpha(opacity=60); /* For IE8 and earlier */
    border-radius: 40px;
    }

html {
	 background: url("grant.jpg") no-repeat center center fixed;
 	 -webkit-background-size: cover;
 	 -moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover;
    text-align: center;
}

a:link, a:visited{
    color: white;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    color: #ffffd0;
}
h1 {
	font-size:160px;
	text-align:center;
}

ul {
    text-align: left;
}

div {
	position:relative;
	text-align:center;
}

button {
	text-align:center;
}

input {
    margin: 5px;
    width: 50%;
}

textarea {
    margin: 10px;
    width: 90%;
    height: 150px;
}

label.error{
    font-size: 75%;

}

.desc {
	background-color: #ffffff;
    border: 1px solid black;
    opacity: 0.8;
	width:60%;
	margin:auto;
    margin-bottom: 10px;
	font-weight:bold;
	font-size:125%;
	color: #009BDA;
    border-radius: 40px;
    /*box-shadow: 5px 5px 10px #888888;*/
}

.warning {
	background-color: #001F7A;
    border: 1px solid black;
    opacity: 0.8;
	width:60%;
	margin: auto;
    margin-bottom: 10px;
	font-weight:bold;
	font-size:125%;
	color:#00A757;
    border-radius: 40px;
    /*box-shadow: 5px 5px 10px #888888;*/
}

.student {
	background-color: #009BDA;
    border: 1px solid black;
    opacity: 0.8;
	width:50%;
	margin:auto;
    margin-bottom: 5px;
	font-weight:bold;
	font-size:175%;
	color:white;
    border-radius: 40px;
}

.talk{
	margin-top:1%;
    margin-bottom: 2%;
	-moz-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f9eca0;
	box-shadow:inset 0px 1px 0px 0px #f9eca0;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00A757), color-stop(1, green) );
	background:-moz-linear-gradient( center top, #f0c911 5%, #f2ab1e 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f0c911', endColorstr='#f2ab1e');
	background-color:#f0c911;
	-webkit-border-top-left-radius:37px;
	-moz-border-radius-topleft:37px;
	border-top-left-radius:37px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:37px;
	-moz-border-radius-bottomright:37px;
	border-bottom-right-radius:37px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #009BDA;
	display:inline-block;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:144px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #ded17c;
    position:relative;
}

.talk:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, green), color-stop(1, #00A757) );
	background:-moz-linear-gradient( center top, #f2ab1e 5%, #f0c911 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f2ab1e', endColorstr='#f0c911');
	background-color:#f2ab1e;
}

.talk:active {
	position:relative;
	top:1px;
}
